raw data

In [6]:
import pandas as pd

df = pd.read_parquet("../data/raw/m1/mes_m1_2025-08-12.parquet")
print(df.head())
print(df.tail())

            timestamp symbol     open     high      low    close  volume
0 2025-08-12 00:00:00    MES  6398.75  6400.50  6397.00  6399.25    1421
1 2025-08-12 00:01:00    MES  6399.00  6400.00  6398.50  6398.75     274
2 2025-08-12 00:02:00    MES  6399.00  6400.50  6399.00  6400.00     343
3 2025-08-12 00:03:00    MES  6399.75  6399.75  6398.75  6399.25     211
4 2025-08-12 00:04:00    MES  6399.50  6399.75  6398.75  6399.00     132
               timestamp symbol     open     high      low    close  volume
1375 2025-08-12 23:55:00    MES  6470.50  6470.75  6469.25  6469.25     230
1376 2025-08-12 23:56:00    MES  6469.25  6470.50  6469.25  6469.75     294
1377 2025-08-12 23:57:00    MES  6469.50  6470.50  6469.50  6470.00     108
1378 2025-08-12 23:58:00    MES  6470.25  6471.75  6470.25  6471.75     245
1379 2025-08-12 23:59:00    MES  6471.50  6471.75  6471.00  6471.25     183

combined data

In [7]:
import pandas as pd

df = pd.read_parquet("../data/processed/mes_all.parquet")
print(df.head())
print(df.tail())

            timestamp symbol     open     high      low    close  volume
0 2023-01-02 23:00:00    MES  3885.75  3900.00  3885.00  3888.50    2660
1 2023-01-02 23:01:00    MES  3888.75  3890.25  3888.00  3888.75     930
2 2023-01-02 23:02:00    MES  3888.75  3889.75  3888.00  3888.50     351
3 2023-01-02 23:03:00    MES  3888.50  3888.50  3885.50  3886.50     674
4 2023-01-02 23:04:00    MES  3886.25  3886.25  3883.25  3883.75     925
                 timestamp symbol     open     high      low    close  volume
922728 2025-08-15 20:55:00    MES  6466.50  6467.00  6466.25  6467.00     159
922729 2025-08-15 20:56:00    MES  6467.25  6467.50  6466.50  6466.75     112
922730 2025-08-15 20:57:00    MES  6466.50  6466.75  6466.00  6466.25     107
922731 2025-08-15 20:58:00    MES  6466.50  6466.75  6466.00  6466.25     192
922732 2025-08-15 20:59:00    MES  6466.25  6467.50  6466.25  6467.25     347

prepared data

In [9]:
import pandas as pd

df = pd.read_parquet("../data/processed/mes_all_prepared.parquet")
print(df.head())
print(df.tail())

                  timestamp symbol     open     high      low    close  \
0 2023-01-02 18:00:00-05:00    MES  3885.75  3900.00  3885.00  3888.50
1 2023-01-02 18:01:00-05:00    MES  3888.75  3890.25  3888.00  3888.75
2 2023-01-02 18:02:00-05:00    MES  3888.75  3889.75  3888.00  3888.50
3 2023-01-02 18:03:00-05:00    MES  3888.50  3888.50  3885.50  3886.50
4 2023-01-02 18:04:00-05:00    MES  3886.25  3886.25  3883.25  3883.75

   volume session        date         vwap    ret_1m  vol_15m
0    2660     ETH  2023-01-02  3888.500000       NaN      NaN
1     930     ETH  2023-01-02  3888.564763  0.000064      NaN
2     351     ETH  2023-01-02  3888.558995 -0.000064      NaN
3     674     ETH  2023-01-02  3888.258288 -0.000514      NaN
4     925     ETH  2023-01-02  3887.505551 -0.000708      NaN
                       timestamp symbol     open     high      low    close  \
922728 2025-08-15 16:55:00-04:00    MES  6466.50  6467.00  6466.25  6467.00
922729 2025-08-15 16:56:00-04:00    MES  6467.25  6467.50  6466.50  6466.75
922730 2025-08-15 16:57:00-04:00    MES  6466.50  6466.75  6466.00  6466.25
922731 2025-08-15 16:58:00-04:00    MES  6466.50  6466.75  6466.00  6466.25
922732 2025-08-15 16:59:00-04:00    MES  6466.25  6467.50  6466.25  6467.25

        volume session        date         vwap    ret_1m   vol_15m
922728     159     ETH  2025-08-15  6492.831258  0.000077  0.000050
922729     112     ETH  2025-08-15  6492.808861 -0.000039  0.000050
922730     107     ETH  2025-08-15  6492.787091 -0.000077  0.000054
922731     192     ETH  2025-08-15  6492.748114  0.000000  0.000050
922732     347     ETH  2025-08-15  6492.680610  0.000155  0.000062